html,body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headline{
  font-size: 2em;
  letter-spacing: .5em;
  padding: 20px;
  font-weight: 800;
}

@mixin row {
  display: flex;
  justify-content: center;
}
.row{
  @include row
}
.space-between{
  justify-content: space-between;
}
.item-center{
  align-items: center;
}

.Main{
  width: 1200px;
  height: 100vh;
  // background: rgba(65, 105, 225, 0.123);
  margin: 0 auto;

  .p1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    .parent {
      display: flex;
      width: inherit;
      justify-content: space-around;

      .child {
        width: 4px;
        height: 4px;
        background: rgba(119, 140, 167, 0.425);
        border-radius: 50%;
        margin: 10px;
      }
    }
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    #menu {
      position: relative;
      top: 10px;
      cursor: pointer;
    }
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: rgb(150, 235, 65);
      padding: 10px 40px;
      z-index: 999;
      h2{
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
  .p2{
    padding: 0 100px;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .map {
      img {
        height: 300px;
        border: 20px solid #EEEEF3;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  .p3{
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }
}